header {
    text-decoration: none;
    text-align: right;
}

#submit {
    background-color: blue;
    color: antiquewhite;
    background-size: contain;
}

article {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    display: inline;
    font-weight: bold;
    font-size: 100px;

}

#g {
    color: blue;
}

#o1 {
    color: red;
}

#o2 {
    color: yellow;
}

#l {
    color: green;
}

#e {
    color: red;
}

#search {
    width: 500px
}